* {
   margin    : 0;
   padding   : 0;
   border    : 0;
   box-sizing: border-box;

}

body {
   background-image     : linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../IMG/bandera.jpg");
   background-repeat    : no-repeat;
   background-size      : cover;
   background-attachment: fixed;
   background-position  : left;


}

.inf {
   display         : flex;
   width           : 100%;
   background-color: white;
   justify-content : center;
   align-items     : center;
   gap             : 5px;
   padding         : 3px;
   font-family     : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin          : 0 auto;
}

.cont-img {
   width: 200px;

}

img {
   width: 20px;
}

h1 {
   text-transform: uppercase;
   color         : white;
   font-weight   : bold;
   font-size     : 50px;
   font-family   : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
   font-size  : 15px;
   font-weight: 300px;
}

section {
   color    : rgb(202, 199, 212);
   font-size: 20px;
}

main {
   display          : flex;
   flex-direction   : column;
   /* margin-top    : 150px; */
   flex             : 1;
   text-align       : center;
   justify-content  : center;
   gap              : 25px;
   padding          : 150px;

}

#btn {
   width           : 40px;
   padding         : 10px;
   border-radius   : 20px;
   /* font-size    : 15px; */
   font-weight     : bold;
   text-align      : center;
   color           : blue;
   cursor          : pointer;

}


form #cedula {
   background-color: aliceblue;
   border-color    : black;
   width           : 350px;
   padding         : 10px;
   border-radius   : 20px;
}

footer {
   text-align : center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, serif;
   font-size  : 80%;
   font-weight: bold;
   font-style : italic;
   padding    : 5px;
   width      : 100%;
   position   : fixed;
   bottom     : 0;

}
