body{
    background-color: #b08e6b;
}
.encabezado h1{
    text-align: center;
    text-decoration: double;
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    
}
header{
    background-color: #f5e1ce;
}
section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    font-style: italic;
}

.central{
    width: 500px;
    margin: 0 auto;
   
    background-color: #e8c39e;
    padding: 15px 3px;
    text-align: center;
    border-bottom: 10px solid #f5e1ce; 
    border-radius: 15px;
    
    
}
.central form label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px;
   
}
.central form button{
    padding: 2px;
    padding-left: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
footer{
    
    margin-top: 250px;
    margin-inline-end: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 2px;
    padding-top: 30px;
    width: 1325px;
    border-radius: 10px;
    border-color: #e8c39e;
    border-style: double;
    padding: 5px;
    background-color: #e8c39e;

}